<%= form_for [parent, comment] do |f| %>
	<% if comment.errors.any? %>
		<h3 class='row'><%= pluralize(comment.errors.count, "error") %></h3>
		<%= render(partial: 'layouts/alert', collection: comment.errors.full_messages) %>
	<% end %>

	<div class='row'>
		<%= f.text_area :body, class: 'col-sm-12' %>
	</div>
	<br>
	<div class='row'>
		<%= f.submit class: 'btn btn-default' %>
	</div>
<% end %>