<%= form_for post do |f| %>
	<% if post.errors.any? %>
		<h3 class='row'><%= pluralize(post.errors.count, "error") %></h3>
		<%= render(partial: 'layouts/alert', collection: post.errors.full_messages) %>
	<% end %>
	<div class='row'>
		<%= f.radio_button :kind, 'article', onClick: "javascript:kindCheck();" %>
		<%= f.label :kind_article, 'Article' %>
		<%= f.radio_button :kind, 'event', onClick: "javascript:kindCheck();" %>
		<%= f.label :kind_event, 'Event' %>
		<%= f.date_field :date %>	
	</div>
	<br>
	<div class='row'>
		<%= f.label :title %><br>
		<%= f.text_field :title, class: 'col-sm-12' %>
	</div>
	<br>
	<div class='row'>
		<%= f.label :body %><br>
		<%= f.text_area :body, class: 'col-sm-12' %>
	</div>
	<br>
	<div class='row'>
		<%= f.submit class: 'btn btn-default' %>
	</div>

<% end %>

<script type="text/javascript">window.onload = kindCheck();</script>