<%= form_for post do |f| %>
	<% if post.errors.any? %>
		<h3 class='row'><%= pluralize(post.errors.count, "error") %></h3>
		<%= render(partial: 'layouts/alert', collection: post.errors.full_messages) %>
	<% end %>

	<br>
	<div class='row'>
		<%= f.label :title %><br>
		<%= f.text_field :title, class: 'col-sm-12' %>
	</div>
	<br>
	<div class='row'>
		<%= f.label :body %><br>
		<%= f.text_area :body, class: 'col-sm-12' %>
	</div>
	<br>
	<div class='row'>
		<%= f.submit class: 'btn btn-default' %>
	</div>

<% end %>

<!-- REMOVE THIS LATE!!! -->
<script type="text/javascript">window.onload = kindCheck();</script>