<%= form_for post do |f| %>
	<% if post.errors.any? %>
		<h3><%= pluralize(post.errors.count, "error") %></h3>
		<ul>
			<% post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<div>
		<%= f.label :kind %><br>
		<%= f.radio_button :kind, 'article', onClick: "javascript:kindCheck();" %>
		<%= f.label :kind_article, 'Article' %>
		<%= f.radio_button :kind, 'event', onClick: "javascript:kindCheck();" %>
		<%= f.label :kind_event, 'Event' %>
		<%= f.date_field :date %>	
	</div>
	<br>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</div>
	<br>
	<div>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</div>
	<br>
	<div>
		<%= f.submit %>
	</div>

<% end %>

<script type="text/javascript">window.onload = kindCheck();</script>