<%= render(partial: "post", object: @post, locals: { truncate_size: nil}) %>
<div>
	<%= link_to ">>> Edit", edit_post_path %> |
	<%= link_to "Delete <<<", post_path, method: :delete, data: {confirm: "Are you sure?"} %>
</div>
<hr>
<h2>Comments:</h2>
<ul class="comment_list">
	<%= render(partial: 'comments/comment', collection: @post.comments) %>
</ul>
<hr>
<h2>Add a comment:</h2>
<%= render(partial: 'comments/form', locals: { parent: @post, comment: @post.comments.build }) %>